.container {
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 10px;
  box-sizing: border-box;
  gap: 10px;
}

.sidebar {
  width: 100px;
  border: 3px solid black;
  border-radius: 10px;
  > a {
    display: flex;
    flex-direction: column;
  }
}

.content-container {
  display: flex;
  width: calc(100% - 100px);
  height: 100%;
  border-radius: 10px;
  flex-direction: column;
  gap: 10px;
}

.header {
  width: 100%;
  height: 50px;
  border: 3px solid black;
  border-radius: 10px;
}

.route-rendering-area {
  width: 100%;
  height: calc(100% - 50px);
  border: 3px solid black;
  border-radius: 10px;
}
